<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsol360.mathlibrary">

    <application>
        <activity
            android:name=".OperationActivity"
            android:exported="true" />
    </application>

</manifest>